@media only screen and (max-width: 1060px) {
    .menu .menu_list li a {
        font-size: 1.1rem;
    }

    .menu-btn li a {
        font-size: 1.1rem;
    }
    .menu_list{
        gap: 25px;
    }
}

@media only screen and (max-width: 978px) {
    .open-icon {
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        margin-right: 15px;
    }

    .menu {
        padding: 50px 0;
        backdrop-filter: blur(10px);
        color: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        background: #080b14;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }
    .menu.open-menu {
        left: 0;
    }

    .menu .menu_list {
        width: 100%;
        flex-direction: column;
        padding: 20px 5px;
        justify-content: center;
        gap: 40px;

    }

    .menu .menu-btn {
        padding-top: 40px;
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }
    .menu .menu_list li a{
        font-size: 1.3rem;
    }

    .menu-btn li a {
        font-size: 1.3rem;
    }
    .open-icon {
        padding-left: 10px;
        font-weight: bold;
    }

    .close-icon {
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        position: absolute;
        top: 7px;
        right: 22px;
        display: none;
    }

    .header.opened .open-icon {
        display: none;
    }

    .header.opened .close-icon {
        display: block;
    }
    
}

@media (max-width: 872px) {
    .text-animate .text {
        font-size: 1.7rem;
    }

    .about-image img {
        width: 310px;
    }
    .about-content h1{
        font-size: 2.5rem;
        line-height: 1.4em;
    }
    .about-content h2{
        font-size: 1.5em;

    }
    .about-content p{
        font-size: 1rem;

    }
}

@media (max-width: 800px) {
    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        text-align: center;

    }
}

@media (max-width: 650px) {
    #about{
        padding: 40px 30px;
    }
    .about-content {
        text-align: center;
    }

    .course-contant {
        flex-direction: column;
    }
    .about-content a{
        padding: 13px 22px;
        font-size: 1.1rem;
    }
    .skills-contant .skills-heading {
        font-size: 1.6rem;
    }
    .skills-contant .skills-discription {
        font-size: 1em;
    }
    .experience-heading {
        font-size: 1.6rem;
    }
      
    .experience-discription {
        font-size: 1em;
    }
    .projects-content {
        font-size: 1.6rem;
    }
      
    .projects-discription {
        font-size: 1em;
    }
    .main-education .education-heading {
        font-size: 1.6rem;
    }
    
      
    .main-education .education-discription {
        font-size: 1em;
    }
    .contact h2 {
        font-size: 30px;
    }
    
    .contact .contact-discription {
        font-size: 1em;
    }
}
@media (max-width: 510px) {

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    footer .nav-menu {
        gap: 15px;
        padding: 20px;
        flex-wrap: wrap;
    }
    .about-content h1{
        font-size: 2.4rem;
    }
    .text-animate .text{
        font-size: 1.5rem; 
    }
    .about-content p{
        font-size: 1.1rem;
    }
    .about-image img{
        width: 300px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 340px){
    .menu{
        width: 100%;
    }
}