* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  /* font-family: "Cairo", sans-serif; */
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  outline: none;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
/* ========== header ========== */
.header {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #080b14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  z-index: 99;
}

.portfolio-logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #080b14;
  cursor: default;
  letter-spacing: 1px;
  /* -webkit-text-stroke: .5px #3e559c; */
  -webkit-text-stroke: 1px rgb(108, 55, 200);
  position: relative;
}

.portfolio-logo::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0px #29428f;
  border-right: 3px solid #080b14;
  overflow: hidden;
  animation: animate 2s linear infinite;
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0%;
  }

  70%,
  90% {
    width: 100%;
  }
}

.menu {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 0px 20px;
}

.menu_list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  list-style: none;
  justify-content: right;
  gap: 30px;
}

.menu .menu_list li a {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 500;
  transition: .3s;
  position: relative;
  padding: 0px 5px;
}

.menu .menu_list li a:after {
  position: absolute;
  content: "";
  background-color: rgb(108, 55, 200);
  height: 2.5px;
  width: 0%;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

.menu.focusss .menu_list li a:after {
  width: 100%;
}

.menu .menu_list li a:hover {
  color: rgb(108, 55, 200);
  cursor: pointer;
}

.menu .menu_list li a:hover:after {
  width: 100%;
}

.menu-btn {
  display: flex;
  gap: 10px;
  list-style: none;
}

.menu-btn li a {
  font-size: 1.2rem;
  color: rgb(108, 55, 200);
  padding: 12px;
  border-radius: 30px 30px 30px 30px;
  /* transition: .5s; */
}

.menu-btn li a:hover {
  background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, #e600ff 100%);
  color: rgb(255, 255, 255);
  transition: .5s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.open-icon,
.close-icon {
  display: none;
}

/* ================================ */


/* ============== About =============== */
#about {
  padding: 60px 70px;
}

.about {
  width: 100%;
  height: 100%;
  background-color: #080b14;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 5rem;
  margin: 20px 0px;
  color: rgb(242, 243, 244);
}

.text-animate {
  margin: 15px 0px;
  overflow: hidden;
  position: relative;
}

.text-animate .text {
  position: relative;
  font-size: 1.9rem;
  color: rgb(108, 55, 200);
  font-weight: bold;
}

.text-animate .firs-text {
  color: rgb(242, 243, 244);
  letter-spacing: 1px;
}

.text-animate .text.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #080b14;
  border-left: 3px solid rgb(108, 55, 200);
  animation: typing 6s steps(17) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 5px);
  }

  100% {
    left: 0%;
  }
}
.about-content p {
  letter-spacing: .6px;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 30px;
  color: rgba(242, 243, 244, 0.584);
}
.about-image img {
  width: 320px;
  border-radius: 50%;
  margin-left: 15px;
  border: 3px solid #ffffff;
}

.about-content a {
  margin-top: 20px;
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem 2.2rem;
  border-radius: 35px 35px 35px 35px;
  background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);

}

.about-content a:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* ========================================== */

/* ================ Skills ================== */
#skills {
  padding: 60px 15px;
}

.skills {
  color: rgb(255, 255, 255);
  background-color: #080b14;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-contant .skills-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.skills-contant .skills-discription {
  text-align: center;
  font-size: 1.2em;
  padding: 1.7rem;
  color: rgba(242, 243, 244, 0.584);
}

.course {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.course-contant {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
  min-height: 200px;
  background: rgb(12, 12, 17);
  border: 0.1px solid rgb(133, 76, 230);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 1rem;
  margin-top: 1rem;
}

.course-contant h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #B1B2B3;
  padding-bottom: 1rem;
}

.main-course-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.course-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: rgba(242, 243, 244, 0.5);
  border: 1px solid rgba(242, 243, 244, 0.5);
  border-radius: 12px;
  padding: .6rem 1.2rem;
}

.course-image img {
  width: 20px;
}

/* ======================================== */

/* ============== Experience ============== */
#experience {
  height: 100vh;
  padding: 4rem 0px;
}

.experience {
  background-color: #080b14;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.experience-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.experience-discription {
  text-align: center;
  font-size: 1.2em;
  padding: 1.7rem;
  color: rgba(242, 243, 244, 0.584);
}

.intern {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intern-content {
  display: flex;
  flex-direction: column;
  border: 0.1px solid rgb(133, 76, 230);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 1rem;
  margin: 1rem;
  background: rgb(12, 12, 17);
}

.intern-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 1.2em;
  padding-left: .2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.intern-heading img {
  border-radius: 50%;
  width: 40px;
  padding: 5px;
}

.company {
  padding-left: 2.6rem;
  margin-bottom: 1rem;

}

.company p {
  color: #6e747f;
  font-size: .9rem;
  letter-spacing: .5px;
}

.projects-codsoft {
  color: #979ea8;
  margin-top: 15px;
}

.project-skills {
  color: #979ea8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}

/* ====================================== */

/* ============ Project ================= */
#projects {
  padding: 60px 0px;
}

.projects {
  background-color: #080b14;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-projects h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.projects-discription {
  text-align: center;
  font-size: 1.2em;
  padding: 1.7rem;
  color: rgba(242, 243, 244, 0.584);
}

.main-projects-contant {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.projects-contant {
  width: 100%;
  max-width: 315px;
  height: 410px;
  /* background: rgb(90, 90, 180); */
  /* background: rgba(255, 255, 0, 0.946); */
  background: rgb(7, 7, 10);
  /* color: rgb(11, 11, 11); */
  border-radius: 16px;
  /* padding: 1rem; */
  padding: 0px 15px;
  transition: .5s;
}
.projects-contant:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.project-logo{
  width: 100%;  
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.project-logo img{
  max-width: 290px;
  height: 200px;
  border-radius: 20px;
}
.project-logo img:hover{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.project-text ul{
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 10px 0px;
}
.project-text ul li{
  background-color: rgb(12, 2, 13);
  color: rgb(108, 55, 200);
  font-size: 13px;
  padding: 5px;
  border-radius: 20px;
}
.project-text h3{
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  transition: .5s;
}
.project-text h3:hover{
  color: #0300EE;
}
.project-text span{
  font-size: 11px;
  color: #6e747f;
}
.project-text p{
  color: #6e747f;
  padding-top: 7px;
  font-size: 15px;
  letter-spacing: .5px;
}

.project-text a{
  display: flex;
  justify-content: right;
  font-size: 16px;
  font-weight: 900;
}
/* ======================================= */

/* ============= Education =============== */
#education {
  padding: 4rem 0px;
}

.education {
  width: 100%;
  background-color: #080b14;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-education {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main-education .education-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.main-education .education-discription {
  text-align: center;
  font-size: 1.2em;
  padding: 1.7rem;
  color: rgba(242, 243, 244, 0.584);
}

.main-college {
  margin: 1.2rem;
  padding: 1.5rem;
  background: rgb(12, 12, 17);
  border: 1px solid yellow;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
}

.college-containet {
  display: flex;
  color: rgb(224, 216, 216);
  align-items: center;
}

.college-containet h4 {
  font-size: 1.1em;
  padding-left: 5px;
  font-weight: 600;
}

.college {
  display: flex;
  flex-direction: column;
}

.college img {
  width: 40px;
  border-radius: 50%;
}

.deg {
  padding-left: 45px;
}

.deg p {
  color: #6e747f;
  font-size: .9rem;
}

.college-grade {
  display: flex;
  padding: 1.4rem 0px;
  font-size: .9rem;
  font-weight: bold;
}

.college-discription {
  color: #979ea8;
  text-align: justify;
}

/* ======================================= */

/* ============= Contact ================= */
#contact {
  padding: 3rem 10px;
}

.contact {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #080b14;
}

.contact h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  padding: 10px;
}

.contact .contact-discription {
  text-align: center;
  font-size: 1.2em;
  padding: 1rem;
  color: rgba(242, 243, 244, 0.584);
}

.form-contact {
  width: 100%;
  margin: auto;
  max-width: 600px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-top: 25px;
  gap: 12px;
  background: transparent;
  border-radius: 16px;
  box-shadow: rgba(32, 0, 88, 0.15) 0px 4px 24px;
  border: 1px solid rgb(108, 55, 200);
  background: rgb(12, 12, 17);
}

.emailme {
  font-size: 1.4rem;
  margin-bottom: 6px;
  font-weight: 800;
  color: rgb(242, 243, 244);
}

.emailme span {
  color: rgb(133, 76, 230);
}

.input-button {
  padding: .7rem 10px;
  border-radius: 12px;
  border: 1px solid rgb(177, 178, 179);
  background-color: transparent;
  flex: 1 1 0%;
  outline: none;
  font-size: 18px;
  color: rgb(242, 243, 244);
  letter-spacing: .5px;
}

input:hover:focus,
textarea:hover:focus {
  border: 1px solid rgb(230, 0, 255);
  background-color: #080b14;
}

.textarea-message {
  background-color: transparent;
  border: 1px solid rgb(177, 178, 179);
  outline: none;
  font-size: 16px;
  color: rgb(242, 243, 244);
  border-radius: 12px;
  padding: 12px 16px;
}

.submit-button {
  padding: 10px 16px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
  margin-top: 2px;
  border-radius: 12px;
  border: none;
  color: rgb(242, 243, 244);
  cursor: pointer;
}

.main-form-contact {
  margin: 10px;
  display: flex;
  justify-content: center;
}

/* =================================== */
footer {
  width: 100%;
  /* background-image: linear-gradient(to left bottom, #180e1c, #080B14, #080B14); */
  background-color: #080b14;
  padding: 20px;
  clip-path: polygon(100% 100% 10% 20%);
}

footer .nav-menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

footer .nav-menu li a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  transition: .3s;
  position: relative;
  padding: 0px 5px;
}

footer .nav-menu li a:after {
  position: absolute;
  content: "";
  background-color: rgb(108, 55, 200);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

footer .nav-menu li a:hover {
  color: rgb(108, 55, 200);
  cursor: pointer;
}

footer .nav-menu li a:hover:after {
  width: 100%;
}

.person-links {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.person-links a {
  border-radius: 50%;
  box-shadow: black 2px 2px 10px;
  transition: .5s ease;
}

.person-links a i {
  font-size: 1.3rem;
  color: #ffffff;
  padding: 5px;
}

.person-links a i:hover {
  color: blue;

}

.copyright p {
  text-align: center;
  font-size: 1rem;
  padding: 10px 0 0 0;
  color: #ffffff;
}