body{
    background-color: rgb(32, 35, 35);
}
.container{
    width: 400px;
    padding: 33px;
    text-align: center;
    background-color: #ffffff;
    margin-left: 33%;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
input{
    width: 270px;
    padding: 5px 10px;
    border: 2px solid rgb(6, 145, 145);
    outline: none;
    font-size: 19px;
    border-radius: 5px;
}
input::placeholder{
    font-size: 17px;
}
button{
    background-color: orangered;
    color: #ffffff;
    border-radius: 2px;
    font-size: 19px;
    font-weight: bold;
    padding: 7px 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.text ul{
    position: relative;
    background-color: rgb(5, 31, 31);
    color: #ffffff;
    font-size: 19px;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}